.btn-group-justified{
  margin: 2px;
}
.avatar{
	width: 64px; height: 64px; /* Размеры */
    background: #22a; /* Цвет фона */
    border: 1px solid #000; /* Белая рамка */
    border-radius: 4px; /* Радиус скругления */
}
.avatar_big{
	width: 184px; height: 184px; /* Размеры */
    background: #22a; /* Цвет фона */
    border: 1px solid #000; /* Белая рамка */
    border-radius: 10px; /* Радиус скругления */
}


.logo-wrapper{
	display: inline;
}

/* таблицы */

.table-games td{
        width: 33%;
    }

/* кнопка прокрутки статы вверх */
#scrollup {
    position: fixed; /* фиксированная позиция */
    opacity: 0.65; /* прозрачность */
    padding: 15px 10px 10px; /* отступы */
    border: 1px solid #999;
    background: linear-gradient(180deg, #fff, #ddd);
    border-radius: 5px; /* скругление углов */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    left:20px; /* отступ слева */
    bottom: 20px; /* отступ снизу */
    display: none; /* спрятать блок */
    cursor: pointer;
    font-family: Georgia;
}

.ui-helper-hidden-accessible{
    display: none;
}

#lang_selector{
    right:20px;
    top:8px;
    position: absolute;
}

.img-hover {
  position: relative;
  display: inline-block;
  width: 20%; /* ширина блока */
  background: #aaaaaa; /* цвет затемнения */
  /*border-radius: 6px;*/
}
.img-hover img {
  width: 100%;
  height: auto;
/*  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;*/
}
.img-hover:hover img {
  opacity: .5; /* уровень прозрачности */
}
.img-hover i {
  position: absolute;
  top: 50%;
  left: 50%; 
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  color: #555; /* цвет иконки */
  font-size: 50px; /* размер иконки */
}
.img-hover:hover i {
  opacity: 1;
  z-index: 1000;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}