### PhpStorm ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

/*.iml

## Directory-based project format:
.idea/

#игнорим реплеи
replays/
/ssstats/
/ssstatssetup/
/logfiles/
/backup/
/info/
/maps/
/error_log
